<p id="notice"><%= notice %></p>

<p>
  <strong>Body:</strong>
  <%= @comment.body %>
</p>

<p>
  <strong>Items:</strong>
  <%= @comment.items %>
</p>

<p>
  <strong>Users:</strong>
  <%= @comment.users %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
